*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
#banner{
  background-image: url(../img/pattern.png);
  background-size: 30%;
  background-color: lightblue;
  padding-top: 32px;
 }
 main{
  margin: 5px;
 }
h1{
  font-size: 40px;
}
#author{
  color: lightblue;
}
#data{
  font-size: 10px;
  margin-bottom: 20px;
}