*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  font-family: 'Roboto', sans-serif;
 }
#banner{
  background-image: url(../img/pattern.png);
  background-size: 30%;
  background-color: lightblue;
  padding-top: 32px;
 }
 main, footer{
  margin: 5px;
 }
 section{
  padding-bottom: 20px;
}
h1{
  font-size: 40px;
}
#info{
  color: gray;
}
#author{
  color: lightblue;
}
#data{
  color: gray;
  font-size: 10px;
  margin-bottom: 20px;
}
#photo-description{
  font-size: 10px;
}
li{
  margin-left: 1em;
}
thead{
  background-color: aqua;
  color: white;
}
#t-right{
  width: 50%;
}
#t-odd{
  background-color: aquamarine;
}
#altri-articoli{
  color: gray;
  font-size: 13px;
}
#monitor{
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: white;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-top: 7px;
  font-size: 15px;
  }
#graphic{
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: white;
  padding-left: 7px;
  padding-top: 7px;
  font-size: 15px;
}